.bg-blur {
  backdrop-filter: blur(0.7rem);
  background: var(--el-text-color-primary)+'33';
}

::-webkit-scrollbar {
  width: 0.3rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: #aaac;
}

* {
    box-sizing: border-box;
}

a, a:hover, a:active, a:checked {
  text-decoration: none;
}

html, box {
    margin: 0;
    padding: 0;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

li {
  padding: 0;
}
